<h2 style="color:red">FUTUR PRODUITS</h2>

<p>Nombre : {{ produits.length }}</p>
<div class="row">
  @for (produit of produits; track produit.id) {
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">

        <img
          [src]="produit.image_url"
          class="product-image"
          alt="{{ produit.nom }}"
        >

        <div class="card-body">
          <h5>{{ produit.nom }}</h5>

          <p class="text-muted">
            {{ produit.categorie }}
          </p>
          <p class="small text-secondary">
            Boutique: {{ produit.boutique }}
          </p>

          <h4 class="text-success">
            {{ produit.prix }} FCFA
          </h4>

          <button class="btn btn-success w-100"
                  [routerLink]="['/produit', produit.id]">
            Voir le produit
          </button>

        </div>

      </div>
    </div>
  }
</div>